*.pyc
*.pyo
*.swo
*.sublime-*
*.swp
env/
project_core.conf
celerybeat.pid
.noseids
django/project_core/settings/_secret.py
django/project_core/settings/local.py
*.ipynb
design/node_modules/
design/bower_components/
